nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(222, 184, 135, 0.322);
    margin-bottom: 2rem;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
    color: #5e503f;
    width: 100%;
    height: 10vh;
    font-size: 1.5rem;
    font-weight: 700;
    
  }
  
  nav a {
    text-align: center;
    align-self: center;
    justify-self: center;
    margin: 1rem;
    color: #5e503f;
  }
  
  .active {
    font-weight: 700;
  }
  